.student-info-page {
  .dx-datagrid .dx-column-lines > td {
    text-align: center !important;
    font-size: 15px;
  }
  .dx-datagrid .dx-column-lines > td {
    text-align: center !important;
    font-size: 15px;
  }
  .student-info-table {
    margin-top: 15px;
    text-align: center;
  }
}