<div class="inter-at-other-partner-page">
  <div class="row">
    <div class=" col-sm-2 title-of-input">Tên công ty:</div>
    <div class="col-sm-10">
      <input class="form-control input" type="text" [(ngModel)]="partnerName">
    </div>
  </div>
  <div class="row">

    <div class="col-sm-2 title-of-input">Mô tả: </div>
    <div class="col-sm-10">
      <textarea name="textarea" id="" cols="100" rows="10" [(ngModel)]="description"></textarea>
    </div>

  </div>
  <div class="button-control">
    <button class="btn btn-custom btn-default" (click)="save()">Send Request</button>
    <button class="btn btn-custom btn-default" (click)="cancel()">Cancel</button>
  </div>

</div>
