.dashboard-popup {
  .dashboard-popup-header {
    height: 50px;
    background: #ddd;
    .partner {
      float: left;
      span {
        color: #229288;
        font-size: 20px;
        line-height: 2;
      }
    }
    .follow {
      float: right;
    }
  }
  .dashboard-popup-content {
    margin-top: 5px;
    border: 1px solid #ddd;
    height: 400px;
  }
  .button-control {
    float: right;
    margin-top: 20px;
  }
  h5 {
    margin-top: 20px;
  }
}
