<div class="change-password-page">
  <div class="change-password-content">
    <div class="row">
      <div class=" col-sm-2 title-of-input">Current Password</div>
      <div class="col-sm-4 content-of-input">
        <input class="form-control input" type="password" [(ngModel)]="currentPassword">
      </div>
      <div class="warning-current-password" *ngIf="warningCurrentPassword">
        <span style="color: red;">Password incorrect
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please try again</span>
      </div>
    </div>
    <div class="row">
      <div class=" col-sm-2 title-of-input">New Password</div>
      <div class="col-sm-4 content-of-input">
        <input class="form-control input" type="password" [(ngModel)]="newPassword">
      </div>
      <div class="warning-current-password" *ngIf="warningPasswordDontMatch">
        <span style="color: red;">Password don't match
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please try again</span>
      </div>
    </div>
    <div class="row">
      <div class=" col-sm-2 title-of-input">Confirm New Password</div>
      <div class="col-sm-4 content-of-input">
        <input class="form-control input" type="password" [(ngModel)]="confirmNewPassword">
      </div>
      <div class="warning-current-password" *ngIf="warningPasswordDontMatch">
        <span style="color: red;"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="button-control">
      <button class="btn btn-custom btn-default" (click)="saveUser()">Save</button>
      <button class="btn btn-custom btn-default" (click)="cancel()">Cancel</button>
    </div>
  </div>


</div>
