.change-password-page {
  .row {
    margin-bottom: 15px;
    width: 100%;
  }
  .title-of-input {
    font-size: 15px;
    float: left;
  }
  .content-of-input {
    float: left;
  }
  .change-password-content {
    margin-top: 40px;
    margin-left: 90px;
  }
  .button-control {
    margin-top: 40px;
    margin-left: 600px;
  }
}
