.header {
  background-color: #263238;
  padding: 0;
  line-height: 50px;
  height: 62px;
}
.header .logo {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 25px;
  float: left;
}

.header .school {
  float: left;
}

.header .school span {
  line-height: 3;
  font-size: 20px;
}

.header .dev {
  float: left;
  margin-left: 500px;
}
.header .dev span {
  line-height: 4;
}
.header .btn-menu {
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  margin-right: 10px;
  outline: none !important;
}

.header .btn-menu:hover {
  color: #FD9767;
}

.header .active-btn {
  color: #FD9767;
}

.header .action-button {
  display: inline-block;
  background-color: #3F3F4B;
  padding: 0 18px;
  line-height: 50px;
  height: 50px;
}

.header .logo {
  display: inline-block;
}

.header .user-menu {
  position: relative;
  padding-right: 10px;
  margin-top: 7px;
}

.header .user-menu .user-name {
  float: left;
  margin-right: 20px;
}

.header .user-menu .fa-user-circle-o {
  font-size: 24px;
  line-height: inherit;
  cursor: pointer;
}

.header .user-menu .user-dropdown {
  position: absolute;
  top: 80%;
  right: 0;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  z-index: 10;
  list-style: none;
  padding: 0;
  color: #333333;
  line-height: 35px;
  width: 125px;
  display: none;
}

.header .user-menu.open .user-dropdown {
  display: block;
  color: white;
  background: #015198;
}

.header .user-menu .user-dropdown li {
  border-bottom: 1px solid #eeeeee;
  padding: 0 15px;
  cursor: pointer;
}

.header .dx-datebox {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
.header button {
  float: left;
  margin-top: 10px;
  margin-right: 50px;
}
