<div class="dashboard-page">
  <div class="dashboard-title">
    <h3>Thông tin thực tập/tuyển dụng</h3>
  </div>

  <div class="dashboard-header row">

  </div>

  <div class="dashboard-table">
    <dx-data-grid id="gridData" [dataSource]="employees" keyExpr="id" [showRowLines]="true" [columnAutoWidth]="true" [allowColumnReordering]="true"
      [allowColumnResizing]="true" [columns]="columns" [showBorders]="true" [rowAlternationEnabled]="true">
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxo-pager [showInfo]="true"></dxo-pager>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-lookup></dxo-lookup>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxi-column dataField="startDate" caption="Ngày Đăng" [width]="150"></dxi-column>
      <dxi-column dataField="endDate" caption="Ngày Hết Hạn" [width]="150"></dxi-column>
      <dxi-column dataField="partner" caption="Partner" [width]="250"></dxi-column>
      <dxi-column dataField="title" caption="Tiêu đề" cellTemplate="titleTemplate">
        <div *dxTemplate="let data of 'titleTemplate'">
          <span [ngClass]="(data.data.seen ==='no')?'unread':'read'" (click)="showDetailMail(data.data.id)">{{ data.data.title }}</span>
        </div>
      </dxi-column>
    </dx-data-grid>
    <div *ngIf="showNodata" class="no-data">
      <span>No Data</span>
    </div>
  </div>

  <dx-popup class="popup" [width]="900" [height]="650" [showTitle]="true" [dragEnabled]="false" [closeOnOutsideClick]="true" title="Xem bài viết"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
      <app-dashboard-popup [idModify]="idModify" (isSave)="reloadTable($event)" (isHide)="hidePopup($event)" [popupVisible]="popupVisible"
        [partner]="partner" [employees]="contentArray"></app-dashboard-popup>
    </div>
  </dx-popup>

</div>
